attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
flatbuffers==25.12.19
idna==3.17
ImageIO==2.37.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lazy-loader==0.5
llvmlite==0.47.0
networkx==3.6.1
numba==0.65.1
numpy==2.4.6
onnxruntime==1.26.0
packaging==26.2
pillow==12.2.0
platformdirs==4.10.0
pooch==1.9.0
protobuf==7.35.0
PyMatting==1.1.15
referencing==0.37.0
rembg==2.0.75
requests==2.34.2
rpds-py==2026.5.1
scikit-image==0.26.0
scipy==1.17.1
tifffile==2026.6.1
tqdm==4.67.3
urllib3==2.7.0
